# dependencies
node_modules
Server/node_modules
todolist/node_modules

# build
todolist/dist

# env
.env
Server/.env
todolist/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db